.idea/
*.iws
*.iml
*.ipr
out/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.war
pom.xml.gpg
release.properties
dependency-reduced-pom.xml

*.log
logs/

.DS_Store
Thumbs.db

application-local.yml